{% extends "../templates/page.njk" %}

{% block mainContent %}
	<nav>
		<div class="container">
			<h2>Pages</h2>
			<ul>
				<li><a href="/photography">Photography</a></li>
				<li><a href="/notes">Notes</a></li>
				<li><a href="/about-us">About us</a></li>
			</ul>
		</div>
	</nav>
{% endblock %}
