<header class="header{% if props.className %} {{ props.className }}{% endif %}">
	<div class="header__container container">
		<a class="header__logo" href="/">
			{{ component('icon', {
				iconName: '11ty',
				attr: 'width="72" height="72"',
				className: 'header__logo-icon'
			}) }}
		</a>
		<p class="header__title">Header</p>
	</div>
</header>
